.navbar-nav {
    margin: auto;
}
html{
    overflow-x: hidden;
}
.property-search-field{
    border-radius: 20px;
}
.property-search-item{
    border: none !important;
}
.property-search-field .form-group{
    border-bottom: none !important;
}
.register-card{
    width: max-content;
    min-width: 400px;
    text-align: center;
}
.register-card .form-group{
    margin-top: 20px;
}
.register-card .form-group{
    margin-top: 20px;
}
.center{
    text-align: center;
}
