.navbar-nav {
    margin: auto;
}
html{
    overflow-x: hidden;
}
.property-search-field{
    border-radius: 20px;
}
.property-search-item{
    border: none !important;
}
.property-search-field .form-group{
    border-bottom: none !important;
}
.register-card{
    width: max-content;
    min-width: 400px;
    text-align: center;
}
.register-card .form-group{
    margin-top: 20px;
}
.register-card .form-group{
    margin-top: 20px;
}
.center{
    text-align: center;
}
.daterangepicker{
    margin-top: 30px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 11px 0px rgba(194,194,194,0.75);
    width: max-content;
}
.daterangepicker .table-condensed td{
    font-size: 17px;
    padding: 10px;
    color: black;
    margin: 2px;

}
.daterangepicker .table-condensed th{
    font-size: 16px;
    padding: 10px;
    color: #1e423a;
}
.drp-calendar {
    width: max-content !important;
    margin-right: 50px !important;
}
.daterangepicker .left{
    margin-right: 70px !important;
}
.calendar-table{
    width: max-content;
}
.daterangepicker td.active{
    background-color: #1e423a !important;
    color: #fff !important;
}
.daterangepicker td.end-date{
    background-color: #1e423a !important;
    color: #fff !important;
    border-radius: 0px 5px 5px 0px !important;
}
.daterangepicker td.start-date{
    background-color: #1e423a !important;
    color: #fff !important;
    border-radius: 5px 0px 0px 5px !important;
}
.daterangepicker td.in-range{
    color: #fff !important;
    background-color: #1e423ab5;
}

.daterangepicker td.active:hover{
    background-color: #1e423a;
    color: #fff !important;
}

.daterangepicker td.in-range {
    background-color: #1e423a57;
    border-color: transparent;
    border-radius: 0;
}

.daterangepicker td:hover{
    background-color: #1e423a !important;
    color: #fff !important;
}
.property-search-field{
    max-width: 1200px ;
    margin: auto;
}
#daterange{
    border: none;
    padding: 0;
    height: max-content;
    color: black;
}
.visitors-button{
    background: #fff !important;
    font-weight: bold;
    color: #1e423a;
    border: 3px solid;
}
.visitos-title{
    margin-left: 10px;
}
.search-btn{
    padding: 18px 36px 18px;
}

.btn:active{
    color: #1e423a !important;
    background-color: #ffffff !important;
    border-color: #1e423a !important;
}

.btn:hover{
    color: #fff !important;
    background-color: #ffffff !important;
    background: #fff !important;
    border-color: black !important;
}
.visitors-number{
    padding: 20px;
    margin-top: 25px;
    margin-left: -40px;
    box-shadow: 0px 0px 11px 0px rgba(116, 116, 116, 0.75);

} 
.btn-options{
    background-color: #fff;
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    border-radius: 10px;
    padding: 4px 15px;
}
.btn-options:hover{
    background-color: var(--mainColor) !important;
    color: #fff !important;
}
.active-option{
    background-color: var(--mainColor) !important;
    color: #fff !important;
}
.options{
    display: flex;
            flex-wrap: wrap;
            gap: 10px;
}
.options-item{
    flex: 1 0 21%; /* Adjust the percentage to control item width */
            display: flex;
            align-items: center;
}
.options-checkbox{
    display: none;
}
.filter-button{
    background-color: #1e423a !important;
    border-radius: 15px;
    margin-top: 20px;
}
.daterange{
    border: 1px solid #eaedff;
    padding: 7px 20px;
}
.daterange #daterange{
    color: #626161;
}
.irs-handle{
    width: 20px;
    height: 20px;
    background: #1e423a !important;
    border-radius: 50%;
    margin-top: 0px;
}
.irs-bar{
    background-color: #1e423a8f !important;
}
.hotel-description{
    margin-bottom: 30px;
    min-height: 70px !important;
    font-weight: 400;
}
.btn-booking{
    border: #fff 2px solid;
    border-radius: 10px;
    padding: 20px 70px;
}
.btn-booking:hover{
    border: #212529 2px solid;
    border-radius: 10px;
    background-color: #fff;
    color: #212529 !important;
}
.agent-contact-inner{
    border-radius: 20px;
}
.hotel-image{
    width: 100%;
    max-height: 500px;
    border-radius: 30px;
    object-fit: cover;
}
#map iframe{
    border-radius: 30px;
    width: 100%;
    height: 100%;
}
.booking-body-1 img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}
.booking-body-1 h5{
    font-size: 17px;
}
.booking-body-1 h6{
    font-weight: 400;
}
/* .booking-body-3{
    display: none;
} */
.booking-date-picker{
    padding: 10px 20px;
    background: #1e423a;
    border-radius: 10px;
}
.booking-date-picker input{
    background-color: #1e423a;
    color: #fff !important;
}
.date-title{

}
.date-picker span{
    color: #fff;
}
#reserve{
    display: none;
}
.service-card{
    border: 3px solid #1e423a;
    padding: 20px;
    border-radius: 15px;
    background: #1e423a;
    margin-bottom: 10px;
}
.service-card label span{
    font-size: 19px;
    color: #fff;
    margin-bottom: 20px;
    margin-right: auto;
}
.service-card input[type='checkbox']{
    width: 20px;
    height: 20px;
    margin-left: auto;
    float: right;
    margin-top: 5px;
}
.service-card .service-quantity{
    margin-top: 10px;
    border-radius: 10px;
}
.service-card .service-quantity:focus{
    background-color: #fff;
}
#availableRooms .card{
    border: 3px solid #1e423a;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: #1e423a;
}
.btn-primary{
    background-color: #1e423a;
    color: #fff;
    border-radius: 15px;
}