.hotel-slider img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 30px;
}
.img-cackbox{
    margin-left: -22px;
    margin-top: 2px;
}
.hotel-det label{
    font-size: 15px;
    margin-left: 10px;
    background: #a1acb8;
    padding: 5px 7px;
    border-radius: 5px;
    color: #fff;
    margin-top: -5px;
}
.add-item{
    height: max-content;
    margin-left: auto;
    margin-top: 10px;
}
.hotel-main-img{
    object-fit: cover;
    border-radius: 30px;
}
.rounded-circle{
    margin-right: 10px !important;
}
.hotel-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}
.hotel-card .verification .btn{
    padding: 10px;
    height: max-content;
    font-size: 12px;
    margin-left: auto;
    margin-top: 15px;
}
.verif-div{
    cursor: pointer;
}
label .rounded{
    object-fit: cover;
}
.blog-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.close{
    background: #696cff;
    color: #fff;
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
}
.booking-page h5{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0;
}
.booking-page span{
    font-size: 15px;
    color: #94a1af;
}
.hotel-info{
    margin-left: 10px;
}
.green{
    color: green;
}
.red{
    color: red;
}